.parent	{
	display: flex;
	flex-direction: column-reverse;
    justify-content: center; 
    align-items: flex-start;
	width: 800px;
	height: 400px;
	border: 1px solid red;
}
.child {
	width: 100px;
	height: 50px;
	border: 1px solid green;
}