.parent {
    border: 1px solid black;
    text-align: justify;
}

.parent div:not(div.clearfix){
    width: 100px;
    height: 50px;
    border: 1px solid green;
    float: right;
    margin: 20px;
    text-align: center;
}
.clearfix {
    clear: both;
}