#elem1 {
	position: absolute;
	top: 50px;
	left: 50px;

	width: 50px;
	height: 50px;
	border: 1px solid red;
}
#elem2 {
	position: absolute;
	top: 120px;
	left: 120px;
	
	width: 50px;
	height: 50px;
	border: 1px solid blue;
}
#elem3 {
	position: absolute;
	top: 190px;
	left: 190px;
	
	width: 50px;
	height: 50px;
	border: 1px solid green;
}