.parent	{
	display: flex;
	flex-direction: row;
    justify-content: center; 
    align-items: center;
    gap: 80px;
	width: 800px;
	height: 400px;
	border: 1px solid red;
}
.child {
	width: 100px;
	height: 50px;
	border: 1px solid green;
}