#menu {
	display: flex;
}
#menu a.special {
	background-color: white;
	color: white;
}
#menu a {
	padding: 20px;
	font: 15px Arial;
	text-decoration: none;
	background-color: #319775;
	color: white;
}
#menu a:hover, #menu a.active{
	background-color: #256e56;
	color: #F5F6FA;
}

